* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* universal styles */
a {
  text-decoration: none;
  color: #0c0c0c;
}

body {
  position: relative;
}

nav {
  display: flex;
  padding: 1vw;
  justify-content: space-around;
}

.logo {
  color: orange;
  font-size: 2.3vw;
  margin: 1vw;
}

.logo span {
  color: blue;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 1vw;
  padding: 0.3vw 1vw;
  font-size: 1.7vw;
  gap: 2vw;
}

nav ul li a {
  text-decoration: none;
  color: #0c0c0c;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.3vw;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.7vw;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: orange;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#side_menu {
  display: flex;
  align-items: center;
  gap: 2vw;
}

#search input[type="text"]{
  font-size: 1.3vw;
  height: 1.8vw;
}

#search button{
  
  font-size: 1.4vw;
}

nav img {
  height: 3vw;
  border-radius: 50%;
  border: 0.1vw solid #0c0c0c;
}

.cart {
  border-radius: 25px;
}

.cart a {
  display: flex;
}

#quantity {
  margin-top: 0.2vw;
  font-size: 1.8vw;
  margin-left: 0.5vw;
  opacity: 0.8;
}

.cart a img {
  height: 2.3vw;
  border: none;
}
