* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

#home {
  display: flex;
  width: 100%;
}

.left {
  width: 45%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4% 8%;
}

.left h2 {
  text-transform: uppercase;
}

.left h2 span {
  color: blue;
}

.left h1 {
  font-size: 5vw;
  background-color: #dadada;
  margin-bottom: 1vw;
}

.left h1 span {
  color: orange;
}

.left p {
  font-size: 1.6vw;
  margin-bottom: 1vw;
}

.left button {
  font-size: 1.5vw;
  border-radius: 25px;
  color: #fff;
  background-color: #1d1c1c;
  border: none;
  padding: 1vw 0;
  width: 15vw;
}

.right {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.right img {
  height: 45vw;
  rotate: 30deg;
  margin-left: 8vw;
  transition: rotate 0.5s ease-in-out;
}

.right img:hover {
  rotate: 0deg;
}

#stat {
  background-color: orange;
}

#stat ul {
  padding: 1vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}

#stat ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

#stat ul li h1 {
  font-size: 2vw;
  width: 8vw;
}

#stat ul li h1 span {
  font-size: 3vw;
}

.img1{
  height: 6vw;
  margin-right: 2vw;
}

.img2{
  height: 7vw;
  margin-right: 2vw;
}

.img3{
  height: 7vw;
  margin-right: 2vw;
}

.img4{
  height: 8vw;
  margin-right: 2vw;
}